body {
    background: linear-gradient(90deg, #02ccba 0%, #aa7ecd 100%);
    font-family: 'Roboto', sans-serif;
}

.game-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-image {
    width: 150px;
    height: 150px;
    image-rendering: pixelated;
}

.memory-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espacement autour des cartes */
    align-items: center; /* Centrer les cartes verticalement */
    padding: 20px; /* Ajouter un peu d'espace autour des cartes */
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 20px; /* Espacement entre les cartes */
    justify-items: center; /* Centrer les cartes horizontalement */
    /* Centrer les cartes verticalement */
    width: 660px;
    min-height: 680px;
    background: #2e3d49;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: auto;
}

.card {
    margin: 10px;
    position: relative;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    z-index: 1;
    border-radius: 21px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card img {
    width: 130px; /* La largeur de l'image sera la même que celle de son conteneur */
    height: 130px; /* La hauteur de l'image sera la même que celle de son conteneur */
    object-fit: cover; /* L'image sera redimensionnée pour couvrir entièrement son conteneur tout en conservant son aspect ratio */
}

.card-flipped {
    transform: rotateY(180deg);
}

.score-panel {
    display: flex;
    text-align: left;
    width: 620px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.score-panel p {
    margin: 0;
}

.restart-button {
    padding: 2px 4px;
    border: none;
    border-radius: 8px;
    background: #6a98c8;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    width: 27px;
    height: 27px;
}